.fa-user:hover{
    color: rgb(15, 37, 235);
    /* -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg); */
}
/* configuraci칩n del body*/
body{    
    background-color: rgb(89, 3, 248);
      background-image: url(src\assets\img\fondo.jpg);
      background-size:cover;
      background-repeat: no-repeat;
      font-family: 'Barlow Semi Condensed', sans-serif;
      margin: 1rem;
  }
  
  /* boton login modal */
  .btn.btnLogin{
      background-color: rgba(149, 11, 241, 0.795);
  }
  
  /* colores de bonotes de edici칩n */
  .btn.btn-close-white:hover,
  .btn.btn-close-white{
      color: rgb(110, 8, 243);
  }
  /* tama침o minimo de im치genes de datos */
  .w-25{
    min-width: 3em;
  }
  
  /* estilo de secciones */
  .seccion{
    background-color: rgba(14, 1, 26, 0.76);
     
      position: relative;
     }
  /* estilo de secciones para directivas*/
  .fondouser{
    background-color: #7f00fdd2;
  }   